/* =========================
   CARDÁPIO
========================= */

.escondido {
    display: none;
}

/* Seção geral */
.menu-section {
    margin-bottom: 20px;
}

/* Barra de categoria (Lanches, Doces, Bebidas) */
.menu-bar {
    background-color: #1b5e20;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
    position: relative;
    width: 100%;
}

.menu-bar:hover {
    background-color: #30a538;
    /* tom mais claro ao passar o mouse */
}

.menu-title {
    font-size: 16px;
}

.menu-arrow {
    font-size: 16px;
}

/* Itens do cardápio */
.itemcardapio {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /* espaço entre imagem e texto */
    padding: 10px;
    border: 1px solid #474747;
    background-color: #dae9e2;
    border-radius: 4px;
    margin: 10px;
    position: relative;
    /* permite posicionar elementos dentro */
}

.itemcardapio:hover {
    background-color: #c7dad1;
}

/* Deixar o texto ao lado da img */
.itemcardapio-texto {
    flex: 1;
}

/* Título */
.itemcardapio-texto h3 {
    margin: 0;
    font-size: 21px;
    color: #333333;
}

/* Descrição */
.itemcardapio-texto p {
    margin: 5px 0;
    font-size: 18px;
    color: #2e2e2e;
}

/* Preço */
.itemcardapio-texto span {
    font-weight: bold;
    font-size: 19px;
    color: #333333;
}

/* Imagem dos itens */
.itemcardapio img {
    max-width: 120px;
    height: 90px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.botao-adicionar img {
    width: 28px;
    height: 40px;
}

.botao-adicionar:hover img {
    transform: scale(1.1);
    /* efeito de destaque ao clicar */
}

.botao-adicionar {
    position: absolute;
    bottom: 2px;
    right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* ============================================= */
/* ANIMAÇÃO DO SPINNER DE CARREGAMENTO          */
/* Faz o círculo girar infinitamente            */
/* ============================================= */
@keyframes spin {
    /* Começa sem rotação */
    0% { 
        transform: rotate(0deg); 
    }
    
    /* Termina com rotação completa de 360 graus */
    100% { 
        transform: rotate(360deg); 
    }
}