* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    /* remove espaÃ§o do topo */
}

.navbar {
    background: #004206;
    font-family: Arial;
    width: 100%;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 15px;
}


.logo {
    display: flex;
    gap: 20px;
}

.logo p {
    height: 46.85px;
    font-size: 35px;
    font-weight: 600;
    color: white;

}

.logo img {
    height: 50px;
    align-self: center;
    width: auto;
}

#btnVoltar {
    align-self: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Arial;
}