/* Variáveis de cores úteis */
:root {
  --verde-principal: #004206;
  --verde-secundario: #349a46;
  --verde-vivo: #2ab442;
  --branco: #FFFFFF
}

a, button, #labelImgCadastrada, select {
    cursor: pointer;
}

/* Estilo para o botão de cadastro */
.botaoCadastrar {
    background-color: var(--verde-secundario);
    color: white;
    font-weight: bold;
    border-color: var(--verde-secundario);
    border-radius: 30px;
    padding: 5px 40px;
    margin: 20px 70px;
    filter: saturate(1);
    transition: all 0.5s ease; 
}

.botaoCadastrar:hover {
    background-color: var(--verde-vivo);
    border-color: var(--verde-principal);
}

/* Estilo para a tabela */
#asideTable {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.table-custom thead tr {
    background-color: var(--verde-secundario);
    color: white;
    text-align: center;
    vertical-align: middle;
}

.table-custom tbody tr {
    text-align: center;
    vertical-align: middle;
}

/* Estilização do status da tabela */
.areaStatus span {
    /* background-color presente no js da coluna de status */
    border-radius: 17px;
    padding: 10px 12px;
    font-weight: bold;
}

/* Centralização dos botões da tabela */
.areaBotoes {
    justify-content: space-around;
    min-width: 140px;
    height: 100%;
    margin: auto;
}

.areaBotoes button {
    border-radius: 7px;
    border: none;
    padding: 5px;
    filter: saturate(1);
    transition: all 0.5s ease;
}

/* Estilização dos botões da tabela */
.botaoVisualizar {
    background-color: #00a1ff;
}

.botaoVisualizar:hover {
    filter: saturate(5);
}

.botaoEditar {
    background-color: #ffd600;
}

.botaoEditar:hover {
    filter: saturate(10);
}

.botaoExcluir {
    background-color: #ff0000;
}

.botaoExcluir:hover {
    background-color: #ff7500;
}

/* Estilos do popup */
.popup {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.6);
    align-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup-content {
    position: relative;
    background-color: var(--branco);
    max-width: 740px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 25px;
    text-decoration: none;
    font-size: 30px;
    color: #333;
}

.fechar:hover {
    color: red;
}

.formsPopup, .visualizadorPopup {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    background: #bebebea5;
}

.containerForms p {
    width: 200px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px auto;
}

.containerForms .itensListados {
    margin-bottom: 10px;
}

input[type='text'], input[type='number']{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type='number']:focus {
    border-color: #007BFF;
}

#pesquisarProduto {
    width: 300px;
}

#pesquisarProduto:focus {
    border-color: #007BFF;
}

.containerForms {
    flex: 50%;
    text-align: center;
}

#descricao, #labelDescricao {
    width: 420px;
}

#labelImgCadastrada {
    margin-top: 10px;
    background-color: var(--verde-secundario);
    border-radius: 20px;
    padding: 10px;
    transition: transform 0.2s ease;
}

#labelImgCadastrada:hover {
    transform: scale(1.05);
}

#visualizarImgCadastrada {
    width: 200px;
}

select, ::picker(select) {
    appearance: base-select;
    width: 150px;
}

select {
    background: white;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

::picker(select) {
    border: none;
}

option {
    border: 2px solid #ccc;
    padding: 10px;
}

#disponibilidade option:first-of-type {
    background-color: var(--verde-secundario);
}

#disponibilidade option:last-of-type {
    background-color: #ffd600;
}

.centalizadoForms {
    color: #333;
    flex: 100%;
    display: flex;
    justify-content: center;
}

#salvarVerificacao {
    background-color: var(--verde-secundario);
    color: white;
    font-weight: bold;
    border-color: var(--verde-secundario);
    border-radius: 30px;
    padding: 5px 40px;
    filter: saturate(1);
    transition: background-color 0.5s; 
    transition: border-color 0.5s; 
}

#salvarVerificacao:hover {
    background-color: var(--verde-vivo);
    border-color: var(--verde-principal);
}

select[multiple] {
    width: 300px;
    height: 110px;
    padding: 10px;
    border: 4px solid #dddddd;
    border-radius: 10px;
    outline: none;
    background: #eee;
}

select[multiple] option {
    padding: 6px;
    margin: 2px 0;
    border: 1px solid #dddddd;
    background-color: white;
}

/* Quando a opção está selecionada */
select[multiple] option:checked {
    background-color: var(--verde-secundario);
    color: white;
}

select[multiple] option:hover {
    background-color: #aaa;
}

/* Estilização dos produtos da tabela de promoções e pedidos */
.areaProdutos {
    justify-items: center;
}

.areaProdutos p {
    background-color: var(--verde-vivo);
    padding: 5px 6px;
    margin: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 1;
}

/* Estilização dos selects da tabela de pedidos */
.formasPagamento {
    width: 110px;
}

.statusPagamento {
    width: 110px;
}

.statusPedido {
    width: 130px;
}